# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
shape_predictor_68_face_landmarks.dat
*.DS_Store
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
env/
venv310

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Misc
*.log